body {
  background-color: #acdae5;
  font-family: "Segoe UI Emoji", "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  color: #222;
}

a {
  color: #06c;
  text-decoration: none;
}
