html {
  line-height: normal;
  overflow-y: scroll;
}

body {
  background-color: #acdae5;
  font-size: 14px;
  margin: 0;
  color: #222;
}

a {
  color: #06c;
  text-decoration: none;
}

* {
  font-family: "Segoe UI Emoji", "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
